In [15]:
import xml.etree.cElementTree as et
import pandas as pd
import os
import re
from tqdm import notebook
import ast

## Notarieel archief

In [12]:
df_cols = ["uuid", "rubriek", "notaris", "inventarisNr", "akteNr", "akteType", 
           "datering", "taal", "beschrijving", "namen", 'urls']
df = pd.DataFrame(columns = df_cols)
for file in notebook.tqdm(["SAA_Index_op_notarieel_archief_20191105_001", 
             "SAA_Index_op_notarieel_archief_20191105_002",
             "SAA_Index_op_notarieel_archief_20191105_003",
             "SAA_Index_op_notarieel_archief_20191105_004",
             "SAA_Index_op_notarieel_archief_20191105_005",
             "SAA_Index_op_notarieel_archief_20191105_006",
             "SAA_Index_op_notarieel_archief_20191105_007",
             "SAA_Index_op_notarieel_archief_20191105_008",
             "SAA_Index_op_notarieel_archief_20191105_009",
             "SAA_Index_op_notarieel_archief_20191105_010"]):
    parsedXML = et.parse("../notarieel/" + file + ".xml")
    root = parsedXML.getroot()
    rows = []

    for node in root: 
        if node is not None:
            s_uuid = node.find("uuid").text if node.find("uuid") is not None else None
            s_rubriek = node.find("rubriek").text if node.find("rubriek") is not None else None
            s_notaris = node.find("notaris").text if node.find("notaris") is not None else None
            s_inventarisNr = node.find("inventarisNr").text if node.find("inventarisNr") is not None else None
            s_akteNr= node.find("akteNr").text if node.find("akteNr") is not None else None
            s_akteType = node.find("akteType").text if node.find("akteType") is not None else None
            s_datering = node.find("datering").text if node.find("datering") is not None else None
            s_taal = node.find("taal").text if node.find("taal") is not None else None
            s_beschrijving = node.find("beschrijving").text if node.find("beschrijving") is not None else None
            s_namen = []
            if node.find("persoonsnamen") is not None:
                namen = []
                for x in node.find("persoonsnamen"):
                    voornaam = x.find("voornaam").text if x.find("voornaam") is not None else None
                    tussenvoegsel = x.find("tussenvoegsel").text if x.find("tussenvoegsel") is not None else None
                    achternaam = x.find("achternaam").text if x.find("achternaam") is not None else None
                    scanNaam = x.find("scanNaam").text if x.find("scanNaam") is not None else None
                    scanPositie = x.find("scanPositie").text if x.find("scanPositie") is not None else None
                    uuidNaam = x.find("uuidNaam").text if x.find("uuidNaam") is not None else None

                    namen.append({"voornaam": voornaam, "tussenvoegsel": tussenvoegsel, 
                         "achternaam": achternaam, "scanNaam": scanNaam, 
                         "scanPositie": scanPositie, "uuidNaam": uuidNaam})
            else:
                namen = None
            if node.find("urlScans") is not None:
                urls = []
                for x in node.find("urlScans"):
                    urlScan = x.text if x is not None else None
                    if urlScan != None:
                        urls.append(re.search(r'#.+', urlScan).group(0)[1:])
            else:
                urls = None
        else:
            s_uuid = None
            s_rubriek = None
            s_notaris = None
            s_inventarisNr = None
            s_akteNr= None
            s_akteType = None
            s_datering = None
            s_taal = None
            s_beschrijving = None
        rows.append({"uuid": s_uuid, "rubriek": s_rubriek, 
                     "notaris": s_notaris, "inventarisNr": s_inventarisNr, 
                     "akteNr": s_akteNr, "akteType": s_akteType,
                     "datering": s_datering, "taal": s_taal,
                     "beschrijving": s_beschrijving, "namen": namen, "urls":urls})

    out_df = pd.DataFrame(rows, columns = df_cols)
    df = df.append(out_df)
    df = df.reset_index(drop=True)

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

In [47]:
df

,uuid,rubriek,notaris,inventarisNr,akteNr,akteType,datering,taal,beschrijving,namen,urls
0,06306e00-98da-1130-ce03-93cbc225e77c,2,ELLERT DE VEER,6,160222,Testament,1587-03-18,nederlands,\nhandmerk\n,"[{'voornaam': 'Elisabeth', 'tussenvoegsel': 'd...",[KLAC00444000031.JPG]
1,122902ff-2633-2d1d-1fdd-0842fd195e3f,2,ELLERT DE VEER,6,162623,Insinuatie,1586-10-02,nederlands,None,"[{'voornaam': 'Aert', 'tussenvoegsel': None, '...",[KLAC00444000021.JPG]
2,22c4dd27-eec8-02bb-33d9-c8fea3161d18,2,ELLERT DE VEER,6,165855,Machtiging,1589-01-05,nederlands,None,"[{'voornaam': 'Feycke', 'tussenvoegsel': None,...",[KLAC00444000094.JPG]
3,2b017209-8640-4307-1423-df64615a59f6,2,ELLERT DE VEER,6,167432,Testament,1588-06-06,nederlands,\nCodicil. Legaat aan dienstmaagd.\n,"[{'voornaam': 'Pieter', 'tussenvoegsel': None,...","[KLAC00444000087.JPG, KLAC00444000088.JPG]"
4,30611e33-7c57-2b2a-bb0e-41227699255c,2,ELLERT DE VEER,6,168465,Machtiging,1587-06-23,nederlands,None,"[{'voornaam': 'Bartholomeus', 'tussenvoegsel':...","[KLAC00444000051.JPG, KLAC00444000052.JPG]"
...,...,...,...,...,...,...,...,...,...,...,...
292361,4d0a5598-5c6a-7040-e053-b784100a6264,507,Mr. AUGUST HENDRIK DE MELANDER,20034B,53690,Overig,1818-05-26,nederlands,None,"[{'voornaam': 'Johannes Daniel', 'tussenvoegse...","[KLAB02845000267.JPG, KLAB02845000268.JPG, KLA..."
292362,4d0a5598-6fb6-7040-e053-b784100a6264,507,Mr. AUGUST HENDRIK DE MELANDER,20034B,54446,Koop,1818-01-05,nederlands,None,"[{'voornaam': 'Hendrik', 'tussenvoegsel': None...","[KLAB02845000004.JPG, KLAB02845000005.JPG, KLA..."
292363,4d0a5598-8a27-7040-e053-b784100a6264,507,Mr. AUGUST HENDRIK DE MELANDER,20034B,55431,Testament,1818-06-23,nederlands,None,"[{'voornaam': 'Anke', 'tussenvoegsel': None, '...","[KLAB02845000313.JPG, KLAB02845000314.JPG]"
292364,4d0a5598-8a45-7040-e053-b784100a6264,507,Mr. AUGUST HENDRIK DE MELANDER,20034B,55436,Machtiging,1818-06-30,nederlands,None,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","[KLAB02845000318.JPG, KLAB02845000319.JPG]"
292365,4d0a5598-8a4f-7040-e053-b784100a6264,507,Mr. AUGUST HENDRIK DE MELANDER,20034B,55438,Machtiging,1818-07-04,nederlands,None,"[{'voornaam': 'Johan Joachim', 'tussenvoegsel'...","[KLAB02845000322.JPG, KLAB02845000323.JPG]"

## Scanned Data

In [8]:
def namespace(element):
    m = re.match(r'\{.*\}', element.tag)
    return m.group(0) if m else ''

In [9]:
files = []
directory = 'D:\Documenten\Studie\Master\Scriptie\scanned\page'
for filename in os.listdir(directory):
    if filename.endswith(".xml"):
        files.append(filename)
    else:
        continue

In [10]:
df_cols = ["page", "textregion"]
scan_df = pd.DataFrame(columns = df_cols)
for file in tqdm_notebook(files):
    parsedXML = et.parse('D:/Documenten/Studie/Master/Scriptie/scanned/page/' + file)
    root = parsedXML.getroot()
    rows = []
    page = file[:-3] + "JPG"
    text = ""
    for node in root: 
        nspace = namespace(node)
        if node is not None:
            for child in node:
                if child.find(nspace + "TextEquiv") is not None:
                    if child.find(nspace + "TextEquiv").find(nspace + "Unicode").text is not None:
                        text += str(child.find(nspace + "TextEquiv").find(nspace + "Unicode").text)
    if text != "":           
        rows.append({"page": page, "textregion": text })
        out_df = pd.DataFrame(rows, columns = df_cols)
        scan_df = scan_df.append(out_df)
        scan_df = scan_df.reset_index(drop=True)

NameError: name 'tqdm_notebook' is not defined

## Cleaning data

In [42]:
def cleaner(string):
    string  = re.sub('\\n', ' ', string)
    return string

In [51]:
notebook.tqdm.pandas()

D:\Anaconda\lib\site-packages\tqdm\std.py:651: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [44]:
scan_df.textregion = scan_df.textregion.progress_apply(cleaner)

HBox(children=(IntProgress(value=0, max=43182), HTML(value='')))

In [45]:
def writer(row):
    file = open(str(row['page']) + ".txt", "w") 
    file.write(row['textregion']) 
    file.close()

In [49]:
os.chdir('../text_files')
scan_df.progress_apply(writer, axis=1)

HBox(children=(IntProgress(value=0, max=43182), HTML(value='')))

0        None
1        None
2        None
3        None
4        None
         ...
43177    None
43178    None
43179    None
43180    None
43181    None
Length: 43182, dtype: object

## Clean Dataset

In [41]:
df_cols = ["page", "text"]
scan_df = pd.DataFrame(columns = df_cols)
for filename in notebook.tqdm(os.listdir('../clean')):
    if filename.endswith(".JPG.ticcl.folia.xml"): 
        parsedXML = et.parse('../clean/' + filename)
        root = parsedXML.getroot()
        rows = []
        page = filename[:-16]
        text = ""
        for node in root: 
            nspace = namespace(node)
            if node is not None:
                if node.find(nspace + 'p') is not None:
                    child = node.find(nspace + 'p')
                    if child.find(nspace + 't') is not None:
                        text += child.find(nspace + 't').text
        if text != "":           
            rows.append({"page": page, "text": text })
            out_df = pd.DataFrame(rows, columns = df_cols)
            scan_df = scan_df.append(out_df)
            scan_df = scan_df.reset_index(drop=True)

    else:
        continue
scan_df = scan_df.set_index('page')

HBox(children=(IntProgress(value=0, max=43190), HTML(value='')))

In [14]:
jan_verleij = df[df.notaris == "JAN VERLEIJ"].reset_index(drop=True)

In [104]:
def merge(row):
    text = ""
    for x in row.urls:
        if x in scan_df.index:
            text += scan_df.text[x]
        else:
            print(row)
    if text == "":
        text = None
    return text

In [105]:
jan_verleij['text'] = jan_verleij.progress_apply(merge, axis=1)

HBox(children=(IntProgress(value=0, max=13063), HTML(value='')))

uuid                         1dd97aef-0f5a-b513-496c-0d81dba0922d
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11900
akteNr                                                      13002
akteType                                         Boedelinventaris
datering                                               1747-01-04
taal                                                   nederlands
beschrijving                                                 None
namen           [{'voornaam': 'Margareta', 'tussenvoegsel': No...
urls            [KLAB05523000014.JPG, KLAB05523000015.JPG, KLA...
Name: 224, dtype: object
uuid                         41ff8d5b-06bc-a15f-f6bd-6cdca1f6dd56
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11887
akteNr                                                      11413
akteType                                                  Akkoord
datering                                               1743-05-08
taal                                                   nederlands
beschrijving                                                 None
namen           [{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...
urls            [KLAB05385000184.JPG, KLAB05385000185.JPG, KLA...
Name: 2633, dtype: object
uuid                         841286a5-bde2-eb1c-9f11-926999b78e18
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11899
akteNr                                                      15758
akteType                                                Transport
datering                                               1746-10-01
taal                                                   nederlands
beschrijving    \nVerkoop van het smakschip 'De Twee Gebroeder...
namen           [{'voornaam': 'Daniel', 'tussenvoegsel': None,...
urls            [KLAB05532000003.JPG, KLAB05532000004.JPG, KLA...
Name: 4160, dtype: object
uuid                         2270ab5d-5a15-71bc-965e-1f819296a408
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11914
akteNr                                                      13069
akteType                                            Wisselprotest
datering                                               1751-08-27
taal                                                   nederlands
beschrijving                                                 None
namen           [{'voornaam': 'Hendrik', 'tussenvoegsel': None...
urls            [KLAB05652000562.JPG, KLAB05652000563.JPG, KLA...
Name: 4440, dtype: object
uuid                         7ebc5f53-61c4-ecc5-0816-9d9e230110ad
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11941
akteNr                                                      27500
akteType                                                Transport
datering                                               1760-03-03
taal                                                   nederlands
beschrijving                                \nVan een kaagschip\n
namen           [{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...
urls            [KLAB05933000187.JPG, KLAB05933000188.JPG, KLA...
Name: 4863, dtype: object
uuid                         3cd127fd-f0ff-0e25-c234-969d45594fbc
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11917
akteNr                                                      19002
akteType                                                Testament
datering                                               1752-06-30
taal                                                   nederlands
beschrijving                                                 None
namen           [{'voornaam': 'Petronella', 'tussenvoegsel': N...
urls            [KLAB05616000319.JPG, KLAB05616000320.JPG, KLA...
Name: 5780, dtype: object
uuid                         aa48f440-b7b9-a641-bef4-8cc500341536
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11922
akteNr                                                      12806
akteType                                               Attestatie
datering                                               1754-04-02
taal                                                   nederlands
beschrijving                     \nschip de Liefde; touw, potas\n
namen           [{'voornaam': 'Marten', 'tussenvoegsel': None,...
urls            [KLAB05709000464.JPG, KLAB05709000465.JPG, KLA...
Name: 7149, dtype: object
uuid                         4d0a5598-b949-7040-e053-b784100a6264
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11904
akteNr                                                      57226
akteType                                               Machtiging
datering                                               1748-07-08
taal                                                   nederlands
beschrijving                                                 None
namen           [{'voornaam': 'Ocke', 'tussenvoegsel': None, '...
urls            [KLAB05552000356.JPG, KLAB05552000357.JPG, KLA...
Name: 8180, dtype: object
uuid                         1829630c-0fbf-be1a-3bb3-23ffbc928a72
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11905
akteNr                                                      15930
akteType                                                Transport
datering                                               1748-11-30
taal                                                   nederlands
beschrijving    \nuit de hand verkocht 1/8 in smakschip Jonge ...
namen           [{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...
urls            [KLAB05559000576.JPG, KLAB05559000577.JPG, KLA...
Name: 8197, dtype: object
uuid                         626edd54-3850-42fb-d1d2-c913f9d9e3ad
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11892
akteNr                                                      11612
akteType                                                Transport
datering                                               1745-03-09
taal                                                   nederlands
beschrijving              \n1/48 part in het bootschip de Vrede\n
namen           [{'voornaam': 'Albert', 'tussenvoegsel': None,...
urls            [KLAB05453000272.JPG, KLAB05453000273.JPG, KLA...
Name: 9220, dtype: object
uuid                         39ef4ef2-441d-dbb4-f7e0-3ef19696df4d
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11967
akteNr                                                      74625
akteType                                                Transport
datering                                               1771-10-02
taal                                                   nederlands
beschrijving     \n1/32 part Hoekerschip 'de juffrouw Cornelia'\n
namen           [{'voornaam': 'Maria', 'tussenvoegsel': 'le', ...
urls            [KLAB07041000351.JPG, KLAB07041000352.JPG, KLA...
Name: 10471, dtype: object
uuid                         3e3db283-a3fe-e03a-a75b-e74c8ea03009
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11897
akteNr                                                      13120
akteType                                                Testament
datering                                               1746-04-04
taal                                                   nederlands
beschrijving                                    \nlangstlevende\n
namen           [{'voornaam': 'Geertruij', 'tussenvoegsel': No...
urls            [KLAB05428000014.JPG, KLAB05428000015.JPG, KLA...
Name: 10667, dtype: object
uuid                         7acbe13d-fe1b-8d60-ff44-a05ab46ffca5
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11904
akteNr                                                      12602
akteType                                               Machtiging
datering                                               1748-07-08
taal                                                   nederlands
beschrijving        \nschip de Harder, franse en engelse kapers\n
namen           [{'voornaam': 'Sierp', 'tussenvoegsel': None, ...
urls            [KLAB05552000356.JPG, KLAB05552000357.JPG, KLA...
Name: 10801, dtype: object
uuid                         df795bf6-da11-9665-5f4e-2de5ab2f1075
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11956
akteNr                                                      32948
akteType                                         Boedelinventaris
datering                                               1765-03-01
taal                                                   nederlands
beschrijving                \nBoedelinventaris van huishoudster\n
namen           [{'voornaam': 'Lambertus', 'tussenvoegsel': No...
urls            [KLAB06473000163.JPG, KLAB06473000164.JPG, KLA...
Name: 11602, dtype: object
uuid                         00af0cb6-1ef5-0f68-a3ef-20e2c6f30e64
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11967
akteNr                                                      65972
akteType                                                Kwitantie
datering                                               1769-05-23
taal                                                   nederlands
beschrijving                  \nOverdracht erfdeel door voogden\n
namen           [{'voornaam': 'Johannes', 'tussenvoegsel': 'va...
urls            [KLAB07041000203.JPG, KLAB07041000204.JPG, KLA...
Name: 11745, dtype: object

In [112]:
jan_verleij.to_csv('clean_data.csv', index=False)

## VOC Opvarende Lijst

In [6]:
voc = pd.read_csv('../vocclustered.csv', sep='	')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,27,35,36,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
voc

,VOCOP_id,fullNameOriginal,firstNameOriginal,patronymicOriginal,familyNamePrefixOriginal,familyNameOriginal,placeOfOrigin,toponymCountryCode,countryCode,URI,...,fullNameCharacterCount,yearBeginService,yearEndServiceNoZeros,year_end_service_DAS,year_end_service_improved,date_begin_service_complete,date_end_service_complete,cape_boarder_is_linked,linked_vocop_id,cape_boarder_rule
0,104944,Adriaen van Renteregem,Adriaen,NaN,van,Renteregem,Wassenaar,Wassenaar NL,NL,http://sws.geonames.org/2744991/,...,22,1700.0,1704.0,1704.0,1704.0,1700-05-05,1704-08-11,NaN,NaN,no_cape_boarder_issue
1,104945,Adriaen van der Meulen,Adriaen,NaN,van der,Meulen,Cooltiensplate,Colijnsplaat NL,NL,http://sws.geonames.org/2757931/,...,20,1700.0,1701.0,NaN,1701.0,1700-05-05,1701-01-04,NaN,NaN,no_cape_boarder_issue
2,104946,Arnoldus Coutrel,Arnoldus,NaN,NaN,Coutrel,Antwerpen,Antwerpen BE,BE,http://sws.geonames.org/2803138/,...,16,1700.0,1706.0,1706.0,1706.0,1700-05-05,1706-07-26,NaN,NaN,no_cape_boarder_issue
3,104947,Albert Coolman,Albert,NaN,NaN,Coolman,Amsterdam,Amsterdam NL,NL,http://sws.geonames.org/2759794/,...,14,1700.0,1700.0,NaN,1700.0,1700-05-05,1700-08-05,NaN,NaN,no_cape_boarder_issue
4,104948,Anthonij Bonel,Anthonij,NaN,NaN,Bonel,Amsterdam,Amsterdam NL,NL,http://sws.geonames.org/2759794/,...,12,1700.0,1707.0,NaN,1707.0,1700-05-05,1707-06-30,NaN,NaN,no_cape_boarder_issue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774195,1652342,Jean Mezek,Jean,NaN,NaN,Mezek,"Juvignij, normandije",NaN,NaN,NaN,...,10,1782.0,1787.0,NaN,1787.0,1782-09-02,1787-01-01,NaN,NaN,no_cape_boarder_issue
774196,1652343,Francois Epman,Francois,NaN,NaN,Epman,"Munster, allemagne",NaN,NaN,NaN,...,14,1782.0,1787.0,NaN,1787.0,1782-09-02,1787-01-01,NaN,NaN,no_cape_boarder_issue
774197,1652344,Pierre la Gadette,Pierre,NaN,la,Gadette,"Quintin, bretagne",Quintin FR,FR,http://sws.geonames.org/2984649/,...,14,1782.0,1787.0,NaN,1787.0,1782-09-02,1787-06-16,NaN,NaN,no_cape_boarder_issue
774198,1652345,Jean Trassen,Jean,NaN,NaN,Trassen,"Bruxelles, brabant",Brussel BE,BE,http://sws.geonames.org/2800866/,...,9,1782.0,1787.0,NaN,1787.0,1782-09-02,1787-06-16,NaN,NaN,no_cape_boarder_issue
774199,1652346,Jan Hanselaar,Jan,NaN,NaN,Hanselaar,Amsterdam,Amsterdam NL,NL,http://sws.geonames.org/2759794/,...,13,1794.0,1796.0,1795.0,1795.0,1794-10-03,1795-09-01,NaN,NaN,no_cape_boarder_issue

In [41]:
clean = pd.read_csv('../clean_data.csv')
name_list = []
for z in notebook.tqdm(clean.namen):
    for x in ast.literal_eval(z):
        if x['tussenvoegsel'] != None:
            name_list.append(x['voornaam'] + " " + x['tussenvoegsel'] + " " + x['achternaam'])
        elif x['voornaam'] and x['achternaam'] != None:
            name_list.append(x['voornaam'] + " " + x['achternaam'])

HBox(children=(IntProgress(value=0, max=13063), HTML(value='')))

In [43]:
len(name_list)

65433

In [50]:
c = 0
for x in notebook.tqdm(name_list):
    if x in voc.fullNameOriginal.tolist():
        c += 1
c

HBox(children=(IntProgress(value=0, max=65433), HTML(value='')))

19119

In [51]:
19119 /65433 * 100

29.219201320434646