In [24]:
import pandas as pd
import os
import re
from tqdm import notebook
import spacy
import ast

In [12]:
#!python -m spacy download nl_core_news_sm
nlp = spacy.load('nl_core_news_sm')

In [4]:
df = pd.read_csv('../clean_data.csv')

In [5]:
df

,uuid,rubriek,notaris,inventarisNr,akteNr,akteType,datering,taal,beschrijving,namen,urls,text
0,17599c0c-3305-165c-aae3-eddbb497e4b4,358,JAN VERLEIJ,11885,107542,Testament,1741-03-16,nederlands,NaN,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","['KLAB05372000012.JPG', 'KLAB05372000013.JPG',...",N: 4 1e de Testateuren hebben verklaerd te Sam...
1,1b037028-bea5-0fa8-e6c5-68155f5f2b21,358,JAN VERLEIJ,11885,108046,Attestatie,1741-07-26,nederlands,\nordentelijke vrijage\n,"[{'voornaam': 'Gerard', 'tussenvoegsel': None,...","['KLAB05372000193.JPG', 'KLAB05372000194.JPG',...",Verklaing gepasseert den 26 Julij 1741No: 60- ...
2,3d072c4e-8cf9-daf8-878d-a64133360fc8,358,JAN VERLEIJ,11885,112381,Insinuatie,1741-09-27,nederlands,\nschuld opgeeist\n,"[{'voornaam': 'Dirk', 'tussenvoegsel': 'van de...","['KLAB05372000281.JPG', 'KLAB05372000282.JPG',...",Insinuatie gedaan den 27e: September 1741No: 8...
3,3ddb90b2-16e5-8f87-fda9-1bfb2804bb09,358,JAN VERLEIJ,11885,112488,Attestatie,1741-09-08,nederlands,\naantasting goede naam na overnachtingen na e...,"[{'voornaam': 'Sara', 'tussenvoegsel': None, '...","['KLAB05372000244.JPG', 'KLAB05372000245.JPG',...",Verklaring gepasseert den 8e: Septembr: 141No:...
4,412e645c-db5d-673e-5fce-006cfab5d7f1,358,JAN VERLEIJ,11885,112918,Testament,1741-12-29,nederlands,NaN,"[{'voornaam': 'Aaffje Jans', 'tussenvoegsel': ...","['KLAB05372000380.JPG', 'KLAB05372000381.JPG',...",No: 121 Janlron de Testateuren te Samen benede...
...,...,...,...,...,...,...,...,...,...,...,...,...
13058,dcc03903-6c44-8ed3-2e3e-4539f500958c,358,JAN VERLEIJ,11967,99275,Kwitantie,1770-01-17,nederlands,\nKwitantie voor ontvangst van nalatenschap.\n,"[{'voornaam': 'Theodorus', 'tussenvoegsel': 'v...","['KLAB07041000258.JPG', 'KLAB07041000259.JPG']",No: 1 Quitantie gecasseerd den 17e: Januarij 1...
13059,e9390ff6-153c-2679-e855-53d67352ea9c,358,JAN VERLEIJ,11967,101127,Machtiging,1769-03-22,nederlands,\nVOC schip de Jonge Samuel. betaling uit gage...,"[{'voornaam': 'Pieter', 'tussenvoegsel': 'van'...","['KLAB07041000174.JPG', 'KLAB07041000175.JPG',...",No: 51 Procuratie gecasseerd den 22e: Maart 17...
13060,ec3d450b-486e-7e87-8894-adfd36d5f544,358,JAN VERLEIJ,11967,101568,Kwitantie,1770-08-11,nederlands,NaN,"[{'voornaam': 'Annitje', 'tussenvoegsel': None...","['KLAB07041000307.JPG', 'KLAB07041000308.JPG',...",No: 11 Quitantie gecasseerd den 11e: Augustus ...
13061,fe9f2abb-f67c-f214-23ec-41d724ed5ce7,358,JAN VERLEIJ,11967,104353,Scheepsverklaring,1769-02-22,nederlands,\nSchip des Jonge Fontijns heeft vertraging op...,"[{'voornaam': 'Jelle', 'tussenvoegsel': None, ...","['KLAB07041000100.JPG', 'KLAB07041000101.JPG',...",172l 1 Aij ijn No: 30: 2: 2 n Sblij vden e r 1...
13062,c5c2883c-7e16-b99f-4417-bb1d36d8f691,358,JAN VERLEIJ,11968,31516,Beraad,1775-01-18,nederlands,NaN,"[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB07039000033.JPG', 'KLAB07039000034.JPG',...",No: 2 Berard &e gecasseerd den 18e: Januarij 1...

In [33]:
test

['Trijntje Lansink',
 'Martinus Ciprianus',
 'Simon van Zuijderwijk',
 'Margareta van Zuijdewijk']

In [15]:
doc = nlp(df.text[0])

for ent in doc.ents:
    if ent.label_ == 'PER':
        print(ent.text, ent.start_char, ent.end_char, ent.label_)

Martinus Ciprianus 110 128 PER
Margareta van Zuijderwijk Egtelieden 131 167 PER
Maert 1741tn den Name Godes 179 206 PER
Jaers 239 244 PER
E 250 251 PER
Jan 312 315 PER
Notaris 324 331 PER
Ed 340 342 PER
Mantinus Cijpriauus 428 447 PER
Juffr 451 456 PER
Margareta 458 467 PER
Lighamen 615 623 PER
Doods 755 760 PER
Testamenten Codicille 1071 1092 PER
Actien Coediten 1570 1585 PER
Langstlevendes 1782 1796 PER
Moeder Trijntje 1977 1992 PER
Simon van Zuijderwijk 2011 2032 PER
Testateur 2068 2077 PER
Moeder 2283 2289 PER
Soo 2540 2543 PER
Erffg 2619 2624 PER
Staats 2818 2824 PER
Kind off Kinderen 3293 3310 PER
Stellende 3533 3542 PER
Committeerende 3546 3560 PER
Soo ter Laaster 4012 4027 PER
Dood 4040 4044 PER
Weesmeesteren 4059 4072 PER
Sterffhuijs Soude 4147 4164 PER
^ 4171 4172 PER
Alle ' 4330 4336 PER
Codicil 4529 4536 PER
Notaris 4838 4845 PER
E. Hendrik 5035 5045 PER
Schilip van Soest 5057 5074 PER
Mansenun Cijmanunj Margreta 5088 5115 PER
Hendenk Boouwes Jclip 5131 5152 PER
Jan 5163 5166 PER

In [28]:
test = []

for x in ast.literal_eval(df.namen[0]):
    if x['tussenvoegsel'] != None:
        test.append(x['voornaam'] + " " + x['tussenvoegsel'] + " " + x['achternaam'])
    else:
        test.append(x['voornaam'] + " " + x['achternaam'])

In [34]:
for ent in doc.ents:
    if ent.text in test:
        print(ent.text, ent.start_char, ent.end_char, ent.label_)

Martinus Ciprianus 110 128 PER
Simon van Zuijderwijk 2011 2032 PER