In [1]:
import pandas as pd
import pandas as pd
import numpy as np
from tqdm import notebook
import ast
import re
from fuzzywuzzy import fuzz
from datetime import datetime, timedelta
import spacy

In [2]:
path = 'Completed Batches/'
subset1_pat = pd.read_json(path + 'batch1_patrick_result.json')
subset2_pat = pd.read_json(path + 'batch2_patrick_result.json')
subset3_pat = pd.read_json(path + 'batch3_patrick_result.json')
subset4_pat = pd.read_json(path + 'batch4_patrick_result.json')
subset5_pat = pd.read_json(path + 'batch5_patrick_result.json')
subset1_thom = pd.read_json(path + 'batch1_thom_result.json')
subset1_chiel = pd.read_json(path + 'batch1_chiel_result.json')
subset2_chiel = pd.read_json(path + 'batch2_chiel_result.json')
subset3_chiel = pd.read_json(path + 'batch3_chiel_result.json')
subset1_bar = pd.read_json(path + 'batch1_result.json')
subset2_bar = pd.read_json(path + 'result.json')
subset3_bar = pd.read_json(path + 'batch2_result.json')
subset4_bar = pd.read_json(path + 'batch3_result.json')
subset5_bar = pd.read_json(path + 'batch4_result.json')
subset6_bar = pd.read_json(path + 'batch2_thom_result.json')

#### Correcties:
Chiel:
- Christiaan Andriesz 1416
- Jan de Bruijn 1463
- Abraham van de Heuvel (1823 super interessant twijfel geval)
- Pieter van Essen (1825 super interessant twijfel geval)
- Hans Pietersz 3792

Patrick:
- Jan Smit 4194 (zelde als de interessante gevallen van Chiel)
- Hendrik van Alen 593 (zelfde schip maar naam is net even anders)

In [3]:
subset1_pat.at[593, 'vocop_match'] = 0
subset1_chiel.at[1416,'vocop_match'] = 0
subset1_chiel.at[1463,'vocop_match'] = 0
subset2_chiel.at[3729, 'vocop_match'] = 0
subset4_bar.at[9025, 'vocop_match'] = ('Johannis Oosterhoff', 140442)
subset5_bar.at[9927, 'vocop_match'] = ('Wiggert Andresz', 374198)
subset6_bar.at[2670, 'vocop_match'] = ('Johan Christiaan Richter', 379155)
subset6_bar.at[2688, 'vocop_match'] = ('Jacob Meijer', 178549)
subset6_bar.at[2689, 'vocop_match'] = ('Juriaan Bartels', 178548)
subset6_bar.at[2690, 'vocop_match'] = ('Willem Borsenius', 283179)
subset6_bar.at[2691, 'vocop_match'] = ('Jan de Vaij', 182941)

In [4]:
final_pat = subset1_pat
final_pat = final_pat.append(subset2_pat)
final_pat = final_pat.append(subset3_pat).append(subset4_pat).append(subset5_pat)

final_chiel = subset1_chiel
final_chiel = final_chiel.append(subset2_chiel)
final_chiel = final_chiel.append(subset3_chiel)

final_barry = subset1_bar
final_barry = final_barry.append(subset2_bar).append(subset3_bar).append(subset4_bar).append(subset5_bar).append(subset6_bar)

final_df = final_pat.append(final_chiel).append(subset1_thom).append(final_barry)

In [11]:
final_df = final_df.loc[~final_df.index.duplicated(keep='first')]
final_df[final_df.vocop_match != 0][0:50]

,uuid,rubriek,notaris,inventarisNr,akteNr,akteType,datering,taal,beschrijving,namen,urls,text,name,data_matches,data_entry,vocop_match
372,2dd7b308-e622-01b5-22ae-abdeba00fed2,358,JAN VERLEIJ,11889,11294,Machtiging,1744-07-02,nederlands,\nschip Nieuland; schip Zaamslag; schip Waterv...,"[{'voornaam': 'Jurriaan', 'tussenvoegsel': Non...","['KLAB05459000335.JPG', 'KLAB05459000336.JPG',...",No: 259 Grseter gepasseert den 2e: Julij 1744J...,Christiaan Morgenfeld,"[{'index': 44997, 'name_original': 'Christiaan...","{'44997': {'ships': [], 'rank': [], 'location'...","[Christiaan Morgenfeld, 298101]"
375,2dd7b308-e622-01b5-22ae-abdeba00fed2,358,JAN VERLEIJ,11889,11294,Machtiging,1744-07-02,nederlands,\nschip Nieuland; schip Zaamslag; schip Waterv...,"[{'voornaam': 'Jurriaan', 'tussenvoegsel': Non...","['KLAB05459000335.JPG', 'KLAB05459000336.JPG',...",No: 259 Grseter gepasseert den 2e: Julij 1744J...,Nanning Broeder,"[{'index': 68473, 'name_original': 'Nanning Br...","{'68473': {'ships': ['Zaamslag', 'ZAAMSLAG'], ...","[Nanning Broeder, 68473]"
376,2dd7b308-e622-01b5-22ae-abdeba00fed2,358,JAN VERLEIJ,11889,11294,Machtiging,1744-07-02,nederlands,\nschip Nieuland; schip Zaamslag; schip Waterv...,"[{'voornaam': 'Jurriaan', 'tussenvoegsel': Non...","['KLAB05459000335.JPG', 'KLAB05459000336.JPG',...",No: 259 Grseter gepasseert den 2e: Julij 1744J...,Jan Fredrik Stephaan,"[{'index': 256327, 'name_original': 'Jan Fredr...","{'256327': {'ships': [], 'rank': [], 'location...","[Jan Fredrik Stephaen, 289548]"
509,ee21c8bc-bfea-25ee-c6c1-ddf74644012b,358,JAN VERLEIJ,11890,12427,Obligatie,1744-09-12,nederlands,\nschip Diemen\n,"[{'voornaam': 'Pieter', 'tussenvoegsel': None,...","['KLAB05439000262.JPG', 'KLAB05439000263.JPG',...",Ragd werlke Getijnke Gepasseert Den 12 feptemb...,Pieter Klijn,"[{'index': 2148, 'name_original': 'Pieter Clin...","{'2148': {'ships': [], 'rank': [], 'location':...","[Pieter Klijn, 284049]"
563,35b32066-d1ee-0b29-2180-38584da36f12,358,JAN VERLEIJ,11891,11348,Obligatie,1744-10-29,nederlands,"\nschip d' Anna, VOC, 300 gulden\n","[{'voornaam': 'Nomme', 'tussenvoegsel': None, ...","['KLAB05426000116.JPG', 'KLAB05426000117.JPG',...",No: 636 Puijete Guijfiet Den 29 Eebber 1744Nte...,Cornelis Christiaansz,"[{'index': 13740, 'name_original': 'Cornelis C...","{'13740': {'ships': [], 'rank': [], 'location'...","[Cornelis Christiaansz, 329326]"
564,35b32066-d1ee-0b29-2180-38584da36f12,358,JAN VERLEIJ,11891,11348,Obligatie,1744-10-29,nederlands,"\nschip d' Anna, VOC, 300 gulden\n","[{'voornaam': 'Nomme', 'tussenvoegsel': None, ...","['KLAB05426000116.JPG', 'KLAB05426000117.JPG',...",No: 636 Puijete Guijfiet Den 29 Eebber 1744Nte...,Pieter Jurgens,"[{'index': 40726, 'name_original': 'Pieter Jur...","{'40726': {'ships': [], 'rank': [], 'location'...","[Pieter Jurgen, 453005]"
597,c76a0010-ddcb-1da8-a823-952f1e23c314,358,JAN VERLEIJ,11891,12211,Testament,1744-10-26,nederlands,"\nschip d' Anna, VOC; langstlevende\n","[{'voornaam': 'Pieter', 'tussenvoegsel': 'van ...","['KLAB05426000095.JPG', 'KLAB05426000096.JPG',...",t Olkks de Testateuren hebben Nou verklaerd te...,Hendrik Taal,"[{'index': 42582, 'name_original': 'Hendrik Ca...","{'42582': {'ships': [], 'rank': [], 'location'...","[Hendrik Taal, 468538]"
2049,87d8b2f4-b586-8b52-5428-5b7fd24a6e8b,358,JAN VERLEIJ,11908,12813,Testament,1749-09-11,nederlands,"\nschip Bloemendaal, VOC kamer Amsterdam\n","[{'voornaam': 'Leendert', 'tussenvoegsel': Non...","['KLAB05596000423.JPG', 'KLAB05596000424.JPG',...",:15Calkoen Dit Testament vervat No: 437 geen f...,Leendert Zuijderland,"[{'index': 348698, 'name_original': 'Leendert ...","{'348698': {'ships': ['Bloemendaal'], 'rank': ...","[Leendert Suijderlandt, 348698]"
2071,e0d5cb34-cd51-5dae-cb7d-83aaf62f32a3,358,JAN VERLEIJ,11908,14377,Machtiging,1749-09-08,nederlands,\nschip Sloterdijk\n,"[{'voornaam': 'Jacobus', 'tussenvoegsel': None...","['KLAB05596000398.JPG', 'KLAB05596000399.JPG',...",No: 429 Procumatie gecasseerd den 8e: fept: 17...,Hermanus Soet,"[{'index': 174610, 'name_original': 'Harmanus ...","{'174610': {'ships': [], 'rank': [], 'location...","[Hermanus Soet, 374000]"
2282,b30c8a95-e5a2-f818-da9f-d19ec93d59e6,358,JAN VERLEIJ,11910,17760,Machtiging,1750-04-17,nederlands,"\nSchip de Ouderkerk, schip de Standvastigheid\n","[{'voornaam': 'Johannes', 'tussenvoegsel': 'va...","['KLAB05289000441.JPG', 'KLAB05289000442.JPG',...",No: 137 Procuratie gepasseert den 17e: april 1...,Jan Helt,"[{'index': 415, 'name_original': 'Jan Held', '...","{'415': {'ships': [], 'rank': [], 'location': ...","[Jan Helt, 417031]"
3844,7994e3ea-4469-fd1b-3c37-367498d7e620,358,JAN VERLEIJ,11928,27212,Obligatie,1756-03-06,nederlands,\nJan staande op zijn vertrek als 2e chirurgij...,"[{'voornaam': 'Jan Fredrik', 'tussenvoegsel': ...","['KLAB05756000227.JPG', 'KLAB05756000228.JPG',...",No: 68 Allegatie gecasseerd den 6e: Maert 1756...,Jan Fredrik Schroot,"[{'index': 81421, 'name_original': 'Jan Fredri...","{'81421': {'ships': [], 'rank': [], 'location'...","[Jan Fredrik Schroot, 522247]"
3928,18522439-8798-b3ab-46d6-b54c0c57e668,358,JAN VERLEIJ,11930,21718,Machtiging,1756-10-12,nederlands,\nStuijver was in 1751 vertrokken aan boord va...,"[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB05899000187.JPG', 'KLAB05899000188.JPG']",No: 337 Procuratie gepasseert den 12e: octobr:...,Jan Stuijver,"[{'index': 38827, 'name_original': 'Janus Stui...","{'38827': {'ships': [], 'rank': [], 'location'...","[Jan Stuijver, 400840]"
3997,9a120948-4e0a-c2d3-d9de-46d47f6ab4bb,358,JAN VERLEIJ,11930,29056,Machtiging,1756-10-04,nederlands,\nSchip de Rotterdam\n,"[{'voornaam': 'Eva', 'tussenvoegsel': None, 'a...","['KLAB05899000155.JPG', 'KLAB05899000156.JPG',...",No: 327 & Procuratie gepasseert den 4e: Octobr...,Laurens Kok,"[{'index': 76075, 'name_original': 'Laurens Lo...","{'76075': {'ships': [], 'rank': [], 'location'...","[Laurents Kok, 353172]"
4194,35462ee3-bc3d-395a-7c70-1fe9c936596b,358,JAN VERLEIJ,11933,23377,Machtiging,1757-10-14,nederlands,"\nVOC schip Perzijnenburg, 't Slot Capelle, om...","[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB05935000268.JPG', 'KLAB05935000269.JPG',...",No: 398 Procuratie gepasseert den 14e: Octobr:...,Jan Smit,"[{'index': 1109, 'name_original': 'Jan Smit', ...","{'1109': {'ships': [], 'rank': [], 'location':...","[Jan Smit, 94668]"
4263,d858cf0c-2729-9be3-3458-f2d6b1709301,358,JAN VERLEIJ,11933,32547,Machtiging,1757-10-07,nederlands,\nSchip de Giessenburg\n,"[{'voornaam': 'Gerrit Jansz.', 'tussenvoegsel'...","['KLAB05935000222.JPG', 'KLAB05935000223.JPG',...",jka No: 383 Procuratie gepasseert den 7e: octo...,Gerrit Jansz. Wierema,"[{'index': 494877, 'name_original': 'Gerrit Ja...","{'494877': {'ships': ['GIESSENBURG'], 'rank': ...","[Gerrit Jans Wierema, 494877]"
4364,1ff3c3cb-5e85-2f1f-3671-eca8e3d82462,358,JAN VERLEIJ,11935,22172,Machtiging,1758-06-24,nederlands,\nMalinskij vertrok in 1748 met het VOC-schip ...,"[{'voornaam': 'Claus Gunther Frans', 'tussenvo...","['KLAB05923000193.JPG', 'KLAB05923000194.JPG']",No: 221 Procuratie gepasseerd den 24 Janij 175...,Claus Gunther Frans Malinskij,"[{'index': 301816, 'name_original': 'Claus Gun...","{'301816': {'ships': ['MARIENBOS'], 'rank': []...","[Claus Gunter frans Malinskij, 301816]"
6372,68fb8963-fbf5-8b23-9cb3-5aa31fbff40c,358,JAN VERLEIJ,11965,26269,Machtiging,1768-04-27,nederlands,"\nVOC schip ""Westvriesland"", innen van uitstaa...","[{'voornaam': 'Teunis', 'tussenvoegsel': None,...","['KLAB06712000271.JPG', 'KLAB06712000272.JPG',...",No: 82 Procuratie gecasseerd den 27e: april 17...,Teunis Nannings,"[{'index': 523611, 'name_original': 'Teunis Na...","{'523611': {'ships': [], 'rank': [], 'location...","[Teunis Nanings, 543638]"
6397,cfd033d7-97eb-0275-4530-1483288677f4,358,JAN VERLEIJ,11965,32061,Machtiging,1768-06-18,nederlands,"\nVOC schip ""de Kievitsheuvel"", schip ""Geertru...","[{'voornaam': 'Alexander', 'tussenvoegsel': 'd...","['KLAB06712000431.JPG', 'KLAB06712000432.JPG',...",No: 131 Procuratie gecasseerd den 18e: Janij 1...,Alexander de Bruijn,"[{'index': 13578, 'name_original': 'Alexander ...","{'13578': {'ships': [], 'rank': [], 'location'...","[Alexander de Bruijn, 527415]"
6761,bade85d0-854e-90d7-65c9-aaa7c237716c,358,JAN VERLEIJ,11887,12139,Machtiging,1743-10-08,nederlands,"\nschip Hillegom, schip Tolsduijn, gage tegoed\n","[{'voornaam': 'Hendrik', 'tussenvoegsel': 'van...","['KLAB05385000342.JPG', 'KLAB05385000343.JPG',...",No: 112 Prietueete gepasseert den 8e: October ...,Hendrik Paulusz,"[{'index': 47506, 'name_original': 'Hendrik Pa...","{'47506': {'ships': [], 'rank': [], 'location'...","[Hendrik Paulusz., 261824]"
6934,ffb53d7c-62c5-ee1e-8a02-dd43f8f37cdd,358,JAN VERLEIJ,11889,12525,Machtiging,1744-05-22,nederlands,\nschip Zaamslagh\n,"[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB05459000053.JPG', 'KLAB05459000054.JPG']",No: 175 Prouratie gepasseert den 22e: Maij 174...,Jan de Vroe,"[{'index': 24934, 'name_original': 'Jan de Vro...","{'24934': {'ships': [], 'rank': [], 'location'...","[Jan de Vroe, 68501]"
6989,992d5acd-849b-64e2-4dca-e726a0f71563,358,JAN VERLEIJ,11890,11935,Machtiging,1744-08-19,nederlands,"\nschip Guntersteijn, schip Arnesteijn\n","[{'voornaam': 'Hester', 'tussenvoegsel': None,...","['KLAB05439000117.JPG', 'KLAB05439000118.JPG']",No: 956 Procuratie Gepasseert Den 175 Angustal...,Gerrit Backer,"[{'index': 1782, 'name_original': 'Gerrit Back...","{'1782': {'ships': [], 'rank': [], 'location':...","[Gerrit Backer, 254769]"
7038,1bb353b6-2942-475c-f9f0-8e187afb5c9c,358,JAN VERLEIJ,11891,11202,Obligatie,1744-12-11,nederlands,\nschip Schellag\n,"[{'voornaam': 'Coenraad', 'tussenvoegsel': Non...","['KLAB05426000424.JPG', 'KLAB05426000425.JPG',...",No 831 Clegatie Gepasseerde Den 10 docem ber 1...,Johan Christiaan Rigter,"[{'index': 39258, 'name_original': 'Johan Chri...","{'39258': {'ships': [], 'rank': [], 'location'...","[Johan Christiaan Richter, 379155]"
7106,f4dd45a9-8db7-5b93-e70f-350002a01f9f,358,JAN VERLEIJ,11891,12466,Machtiging,1744-10-27,nederlands,"\nschip d' Anna, VOC\n","[{'voornaam': 'Aagje', 'tussenvoegsel': 'van',...","['KLAB05426000102.JPG', 'KLAB05426000103.JPG',...",Aanl N553 Procuratie Gepaeirt Dene Sij Peteber...,Hendrik Taal,"[{'index': 42582, 'name_original': 'Hendrik Ca...","{'42582': {'ships': [], 'rank': [], 'location'...","[Hendrik Taal, 468538]"
7521,cc47927d-53a9-efee-fed3-1e7e814fc796,358,JAN VERLEIJ,11897,14391,Machtiging,1746-04-05,nederlands,\nschip 't Slot Capelle\n,"[{'voornaam': 'Jannetje Gerrits', 'tussenvoegs...","['KLAB05428000022.JPG', 'KLAB05428000023.JPG',...",No: 182 Procuratie gepasseerd den 5e: april 17...,Abraham Hendriksz Bommel,"[{'index': 384748, 'name_original': 'Abraham H...","{'384748': {'ships': [], 'rank': [], 'location...","[Abraham Hendriksz Bommel, 384748]"
7572,cafcb37c-c129-068f-4538-1acb508f0a9c,358,JAN VERLEIJ,11898,13402,Machtiging,1746-08-26,nederlands,"\nschip ""Leijden""; schip ""Huijsenduijn""\n","[{'voornaam': 'Willem', 'tussenvoegsel': 'de',...","['KLAB05443000271.JPG', 'KLAB05443000272.JPG']",No: 403 Procuratie gepasseert den 26 ang: 1746...,Pieter Hansz Haak,"[{'index': 424421, 'name_original': 'Pieter Ha...","{'424421': {'ships': ['Leiden'], 'rank': [], '...","[Pieter Hansz. Haak, 424421]"
1399,4d0a5598-ea7b-7040-e053-b784100a6264,358,JAN VERLEIJ,11903,59238,Testament,1748-01-06,nederlands,None,"[{'voornaam': 'Coenraed Hendrik', 'tussenvoegs...","['KLAB05521000021.JPG', 'KLAB05521000022.JPG',...",No: 6 Testament gepasseert e den 6e: Januarij ...,Coenraed Hendrik Vink,"[{'index': 275177, 'name_original': 'Coenraad ...","{'275177': {'ships': [], 'rank': [], 'location...","[Coenraad Hendrik Vinke, 275177]"
1415,4d0a5599-7775-7040-e053-b784100a6264,358,JAN VERLEIJ,11903,64925,Machtiging,1748-01-15,nederlands,None,"[{'voornaam': 'Claas', 'tussenvoegsel': None, ...","['KLAB05521000061.JPG', 'KLAB05521000062.JPG']",L: -N: 18 Procuratie gepasseert e den 15e: Jan...,Claas Pietersz,"[{'index': 3754, 'name_original': 'Claas Piete...","{'3754': {'ships': ['nan'], 'rank': [], 'locat...","[Claas Pietersz, 326827]"
1728,574e9081-263d-c1a6-db55-c1cb55e9a434,358,JAN VERLEIJ,11905,13130,Machtiging,1748-09-19,nederlands,"\nschip de Eendragt, VOC kamer Amsterdam; schi...","[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB05559000104.JPG', 'KLAB05559000105.JPG',...",No: 360 Crocaratie gecasseerd den 19e: Sept: 1...,Jan Schouten,"[{'index': 7034, 'name_original': 'Jan Schout'...","{'7034': {'ships': [], 'rank': [], 'location':...","[Jan Schoutte, 297792]"
1729,574e9081-263d-c1a6-db55-c1cb55e9a434,358,JAN VERLEIJ,11905,13130,Machtiging,1748-09-19,nederlands,"\nschip de Eendragt, VOC kamer Amsterdam; schi...","[{'voornaam': 'Jan', 'tussenvoegsel': None, 'a...","['KLAB05559000104.JPG', 'KLAB05559000105.JPG',...",No: 360 Crocaratie gecasseerd den 19e: Sept: 1...,Hendrik Nieuboer,"[{'index': 49105, 'name_original': 'Hendrik Ne...","{'49105': {'ships': [], 'rank': [], 'location'...","[Hendrik Nieuwboer, 142291]"
1822,b011937e-a96a-8ce6-5856-37538debf093,358,JAN VERLEIJ,11905,18536,Machtiging,1748-11-29,nederlands,\nVoor Kamer Amsterdam met schip Haerlmen naar...,"[{'voornaam': 'Catharina', 'tussenvoegsel': No...","['KLAB05559000570.JPG', 'KLAB05559000571.JPG',...",No: 507 Procuratie gepuisseert den 29e: Novemb...,Jacobus de Heer,"[{'index': 7410, 'name_original': 'Jacobus de ...","{'7410': {'ships': [], 'rank': [], 'location':...","[Jacobus de Heere, 376541]"
1823,6d3a1c09-5c6f-ce55-77ae-d618e1c9d0f7,358,JAN VERLEIJ,11905,18615,Machtiging,1748-09-07,nederlands,None,"[{'voornaam': 'Abraham', 'tussenvoegsel': 'van...","['KLAB05559000020.JPG', 'KLAB05559000021.JPG',...",No: 333 Procuratie gecasseerd den 7e: Sept: 13...,Abraham van den Heuvel,"[{'index': 83203, 'name_original': 'Abraham va...","{'83203': {'ships': [], 'rank': [], 'location'...","[Abraham van der Heuvel, 125364]"
1825,6d3a1c09-5c6f-ce55-77ae-d618e1c9d0f7,358,JAN VERLEIJ,11905,18615,Machtiging,1748-09-07,nederlands,None,"[{'voornaam': 'Abraham', 'tussenvoegsel': 'van...","['KLAB05559000020.JPG', 'KLAB05559000021.JPG',...",No: 333 Procuratie gecasseerd den 7e: Sept: 13...,Pieter van Essen,"[{'index': 20310, 'name_original': 'Pieter van...","{'20310': {'ships': [], 'rank': [], 'location'...","[Pieter van Es, 125436]"
1826,6d3a1c09-5c6f-ce55-77ae-d618e1c9d0f7,358,JAN VERLEIJ,11905,18615,Machtiging,1748-09-07,nederlands,None,"[{'voornaam': 'Abraham', 'tussenvoegsel': 'van...","['KLAB05559000020.JPG', 'KLAB05559000021.JPG',...",No: 333 Procuratie gecasseerd den 7e: Sept: 13...,Jan Christoffel Helleff,"[{'index': 47682, 'name_original': 'Jan Christ...","{'47682': {'ships': ['nan'], 'rank': [], 'loca...","[Jan Christoffel Hellef, 125366]"
3171,cfbda433-0688-d920-1e4c-541ac73e3904,358,JAN VERLEIJ,11920,15508,Machtiging,1753-05-17,nederlands,"\nOpperstuurman schip ""Voorzigtigheijd""\n","[{'voornaam': 'Jan Fredrik', 'tussenvoegsel': ...","['KLAB05777000066.JPG', 'KLAB05777000067.JPG',...",Bo:169 Procuratie gecasseerd den 17e: Maij 175...,Jan Fredrik Schrijver,"[{'index': 179622, 'name_original': 'Jan Fredr...","{'179622': {'ships': [], 'rank': [], 'location...","[Jan Fredrik Schrijver, 180810]"
3481,9ee9f3de-cb5a-788e-d81c-e7e43eba5ef0,358,JAN VERLEIJ,11923,29345,Machtiging,1754-08-07,nederlands,\nStaanke voer in 1752 mee aan boord van het s...,"[{'voornaam': 'Elias', 'tussenvoegsel': None, ...","['KLAB05718000402.JPG', 'KLAB05718000403.JPG']",No: 290 Procuratie gecasseerd den 7e: ang: 175...,Hendrik Staanke,"[{'index': 82407, 'name_original': 'Hendrik St...","{'82407': {'ships': ['Nieuwvijvervreugd', 'NIE...","[Hendrik Staanke, 90683]"
3714,20ca2784-c8be-766a-32d9-3c7701086d6a,358,JAN VERLEIJ,11926,22212,Machtiging,1755-06-25,nederlands,"\nSchip Nieunieuwerkerk, schip Sloterdijk\n","[{'voornaam': 'Cornelis', 'tussenvoegsel': 'de...","['KLAB05747000185.JPG', 'KLAB05747000186.JPG']",No: 207 Procuratie gecasseerd den 25e: Junij 1...,Cornelis de Korte,"[{'index': 1636, 'name_original': 'Cornelis de...","{'1636': {'ships': [], 'rank': [], 'location':...","[Cornelis de Korte, 90027]"
5015,920e0d62-feff-a574-4847-06dbf307cf43,358,JAN VERLEIJ,11945,28611,Machtiging,1761-07-15,nederlands,"\nVOC schip Vrouw Petronella, schip Leckerlust...","[{'voornaam': 'Gerrit', 'tussenvoegsel': None,...","['KLAB06150000189.JPG', 'KLAB06150000190.JPG',...",No: 179 Procuratie gepasseert den 15e: Jalij 1...,Gerrit Hoeksteen,"[{'index': 198315, 'name_original': 'Gerrid Ho...","{'198315': {'ships': ['Vrouwe Petronella', 'LE...","[Gerrid Hoesteen, 198315]"
5044,14329821-8d12-2988-6ab8-b243be1bd6fc,358,JAN VERLEIJ,11946,21481,Machtiging,1761-11-14,nederlands,\nVOC schip admiraal de Ruijter\n,"[{'voornaam': 'Johannes', 'tussenvoegsel': Non...","['KLAB06180000163.JPG', 'KLAB06180000164.JPG',...",No: 285 Procuratie gecasseerd den 14e: octobr:...,Jan Heeren,"[{'index': 8189, 'name_original': 'Jan Heerens...","{'8189': {'ships': [], 'rank': [], 'location':...","[Jan Heeren, 489192]"
5069,87ff7f1c-0464-9049-a3e4-d739b1789a11,358,JAN VERLEIJ,11946,28024,Testament,1761-09-16,nederlands,\nschip Oud Carspel. langstlevende testament\n,"[{'voornaam': 'Jacob', 'tussenvoegsel': None, ...","['KLAB06180000053.JPG', 'KLAB06180000054.JPG',...",Hingelandt Dit Testament van Man en vrouw verv...,Laurens Pietersz.,"[{'index': 2114, 'name_original': 'Laurens Pie...","{'2114': {'ships': [], 'rank': [], 'location':...","[Laurens Pietersse, 478333]"
5245,bfcea03e-a981-a35f-0dc1-34382bc3c3d5,358,JAN VERLEIJ,11948,31177,Machtiging,1762-08-06,nederlands,"\nVOC schip Wildrijk, ontvangen van kist met K...","[{'voornaam': 'Evert Laurens', 'tussenvoegsel'...","['KLAB06151000296.JPG', 'KLAB06151000297.JPG',...",No 238 Procuratie Gerifeet Ders 6 Augustis 176...,Carel Pieter Andries,"[{'index': 81094, 'name_original': 'Carel Piet...","{'81094': {'ships': ['WILDRIJK'], 'rank': [], ...","[Carel Pieter Andriessen, 81094]"
5261,ee812a50-7186-0414-83ff-f2d6682b674e,358,JAN VERLEIJ,11948,33801,Machtiging,1762-06-16,nederlands,\nOhlandt vertrok in 1761 met het VOC-schip Bo...,"[{'voornaam': 'Teunis', 'tussenvoegsel': None,...","['KLAB06151000089.JPG', 'KLAB06151000090.JPG',...",No: 174 Procuratie gepasseert den 16e: Junij 1...,Teunis Ohlandt,"[{'index': 80326, 'name_original': 'Teunis Ohl...","{'80326': {'ships': ['Borssele'], 'rank': [], ...","[Teunis Ohlant, 80326]"
5324,95beeef3-1c61-0fac-2034-4be4090d5d7f,358,JAN VERLEIJ,11949,28819,Machtiging,1762-12-11,nederlands,"\nVOC schip Gustaaff Willem, schip Schoonsigt,...","[{'voornaam': 'Jan Hendrik', 'tussenvoegsel': ...","['A26619000364.JPG', 'A26619000365.JPG']",N460 Procuratie Gepaseert Ders 175 December 17...,Jan Hendrik Bozang,"[{'index': 103889, 'name_original': 'Jan Hendr...","{'103889': {'ships': ['Gustaaf Willem'], 'rank...","[Jan Hendrik Bosang, 103889]"
5334,d44bedea-6daf-2a79-3058-78c552efdb7d,358,JAN VERLEIJ,11949,32311,Machtiging,1762-11-24,nederlands,\nLaurensz is in 1761 uitgevaren met het VOC-s...,"[{'voornaam': 'Laurens', 'tussenvoegsel': None...","['A26619000248.JPG', 'A26619000249.JPG', 'A266...",No: 423 Procuratie Grafeet Den 24e: Novemers 1...,Laurens Laurensz,"[{'index': 691, 'name_original': 'Laurens Laur...","{'691': {'ships': [], 'rank': [], 'location': ...","[Laurens Laurensz, 193343]"
5409,f659be01-d6ff-893a-da1f-63b29b6898ca,358,JAN VERLEIJ,11950,34268,Machtiging,1763-05-24,nederlands,"\nVOC schip Blijdorp, schip de Vrouw Elisabeth...","[{'voornaam': 'Hendrik Philip', 'tussenvoegsel...","['KLAB06179000383.JPG', 'KLAB06179000384.JPG',...",No: 119 Procuratie gecasseerd den 24e: maij 17...,Hendrik Philip Heuner,"[{'index': 68732, 'name_original': 'Hendrik Ph...","{'68732': {'ships': [], 'rank': [], 'location'...","[Hendrik Filip Heuner, 502864]"

In [ ]:
nlp = spacy.load('nl_core_news_sm', disable=['parser', 'tagger', 'textcat'])

In [76]:
def multimatch(start, end, true, prev, distance):
    if true == []:
        return (start, end)
    if prev.i == len(prev.doc) - 1:
        return (start, end)
    if fuzz.ratio(true[0], prev.nbor().text) >= distance:
        return multimatch(start, prev.nbor().idx + len(prev.nbor()), true[1:], prev.nbor(), distance)
    else:
        return (start, end)

def singlematch(start, end, true, prev, distance):
    newtoken = prev.text + ' ' + prev.nbor().text
    if fuzz.ratio(true, newtoken) >= distance:
        return (start, start + len(newtoken) + 1)
    else:
        return (start, end)

def entity_finder(row, distance, true):
    doc = nlp(row.text)
    holder = []
    for token in doc:
        for x in true:
            if x != None:
                split = x.split(' ')

                if fuzz.ratio(x, token.text) >= distance:
                    holder.append(x)
                    
                elif fuzz.ratio(split[0], token.text) >= distance:
                    if len(split) > 1:
                        result = multimatch(token.idx, token.idx + len(token), split[1:], token, distance)
                        entity = row.text[result[0]:result[1]+1]
                        holder.append(x)

                    else:
                        result = singlematch(token.idx, token.idx + len(token), x, token, distance)
                        entity = row.text[result[0]:result[1]+1]
                        holder.append(x)
                            
    if len(set([x.lower() for x in true if x != None])) == 1 and len(set(holder)) == 1:
        return set(holder + ['none'])
    if None in true and len(set(holder)) == 1:
        return set(holder + ['none'])
    return set(holder)

def fix_entries_ships(row):
    true_data_matches = {}
    if row.data_matches != 0:
        for x in row.data_matches:
            ships = entity_finder(row, 80, [x['ship_out'], x['ship_return']])
            rank =  entity_finder(row, 80, [x['rank']])
            location = entity_finder(row, 80, [x['place_of_origin']])
            true_data_matches[str(x['index'])] = {'ships': ships, 'location':location, 'rank':rank}
    return true_data_matches

In [77]:
ship_matches = [fix_entries_ships(x) for x in notebook.tqdm(final_df.itertuples(), total=len(final_df))]

HBox(children=(IntProgress(value=0, max=9668), HTML(value='')))

In [10]:
voc = pd.read_csv('../vocop-clustered-new.csv', sep='	')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,27,35,36,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

777

In [13]:
voc.fullNameNormalized.value_counts()

Jan Jans                   2107
Jan Piters                 1606
Pieter Jans                1383
Hendrik Jans                977
Jan Hendriks                868
                           ...
Pieter Abjate Barnabas        1
Augustinus Abraham Rosa       1
Adrianus de Klerg             1
Johan Kristoffel Reppi        1
Hermanus Murk                 1
Name: fullNameNormalized, Length: 493653, dtype: int64

In [7]:
final_df

,uuid,rubriek,notaris,inventarisNr,akteNr,akteType,datering,taal,beschrijving,namen,urls,text,name,data_matches,data_entry,vocop_match
0,17599c0c-3305-165c-aae3-eddbb497e4b4,358,JAN VERLEIJ,11885,107542,Testament,1741-03-16,nederlands,None,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","['KLAB05372000012.JPG', 'KLAB05372000013.JPG',...",N: 4 1e de Testateuren hebben verklaerd te Sam...,Trijntje Lansink,0,0,0
1,17599c0c-3305-165c-aae3-eddbb497e4b4,358,JAN VERLEIJ,11885,107542,Testament,1741-03-16,nederlands,None,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","['KLAB05372000012.JPG', 'KLAB05372000013.JPG',...",N: 4 1e de Testateuren hebben verklaerd te Sam...,Martinus Ciprianus,0,0,0
2,17599c0c-3305-165c-aae3-eddbb497e4b4,358,JAN VERLEIJ,11885,107542,Testament,1741-03-16,nederlands,None,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","['KLAB05372000012.JPG', 'KLAB05372000013.JPG',...",N: 4 1e de Testateuren hebben verklaerd te Sam...,Simon van Zuijderwijk,0,0,0
3,17599c0c-3305-165c-aae3-eddbb497e4b4,358,JAN VERLEIJ,11885,107542,Testament,1741-03-16,nederlands,None,"[{'voornaam': 'Trijntje', 'tussenvoegsel': Non...","['KLAB05372000012.JPG', 'KLAB05372000013.JPG',...",N: 4 1e de Testateuren hebben verklaerd te Sam...,Margareta van Zuijdewijk,0,0,0
4,1b037028-bea5-0fa8-e6c5-68155f5f2b21,358,JAN VERLEIJ,11885,108046,Attestatie,1741-07-26,nederlands,\nordentelijke vrijage\n,"[{'voornaam': 'Gerard', 'tussenvoegsel': None,...","['KLAB05372000193.JPG', 'KLAB05372000194.JPG',...",Verklaing gepasseert den 26 Julij 1741No: 60- ...,Gerard Plaatman,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129,ffb782b0-4689-9a39-e3df-e4b36397882d,358,JAN VERLEIJ,11919,15522,Wisselprotest,1753-02-08,nederlands,None,"[{'voornaam': 'Coenraad', 'tussenvoegsel': Non...","['KLAB05698000178.JPG', 'KLAB05698000179.JPG',...",150:-No:88 Wisel Protest gedaan den 8e: febr: ...,Coenraad Smit,"[{'index': 83363, 'name_original': 'Coenraad S...","{'83363': {'ships': ['nan'], 'rank': [], 'loca...",0
3130,ffb782b0-4689-9a39-e3df-e4b36397882d,358,JAN VERLEIJ,11919,15522,Wisselprotest,1753-02-08,nederlands,None,"[{'voornaam': 'Coenraad', 'tussenvoegsel': Non...","['KLAB05698000178.JPG', 'KLAB05698000179.JPG',...",150:-No:88 Wisel Protest gedaan den 8e: febr: ...,Johann Wilhelm Schmittener,0,0,0
3131,ffb782b0-4689-9a39-e3df-e4b36397882d,358,JAN VERLEIJ,11919,15522,Wisselprotest,1753-02-08,nederlands,None,"[{'voornaam': 'Coenraad', 'tussenvoegsel': Non...","['KLAB05698000178.JPG', 'KLAB05698000179.JPG',...",150:-No:88 Wisel Protest gedaan den 8e: febr: ...,Jochem Matthijs Smit,0,0,0
3132,ffb782b0-4689-9a39-e3df-e4b36397882d,358,JAN VERLEIJ,11919,15522,Wisselprotest,1753-02-08,nederlands,None,"[{'voornaam': 'Coenraad', 'tussenvoegsel': Non...","['KLAB05698000178.JPG', 'KLAB05698000179.JPG',...",150:-No:88 Wisel Protest gedaan den 8e: febr: ...,Jan Salm,"[{'index': 59938, 'name_original': 'Jan Sam', ...","{'59938': {'ships': ['nan'], 'rank': [], 'loca...",0
3133,532234d8-63f7-333e-a61b-70be024869fc,358,JAN VERLEIJ,11919,16100,Scheepsverklaring,1753-03-31,nederlands,\nschip de Berbice Vrindschap\n,"[{'voornaam': 'Johan', 'tussenvoegsel': None, ...","['KLAB05698000388.JPG', 'KLAB05698000389.JPG',...",6: 111 Verklaren Gepasseert den 33: Maert 1755...,Johan Fischer,"[{'index': 150867, 'name_original': 'Johannes ...","{'150867': {'ships': [], 'rank': [], 'location...",0

In [96]:
for x in range(final_df.shape[0]):
    final_df.iloc[x].data_entry = ship_matches[x]

In [12]:
final_df.iloc[509]

uuid                         ee21c8bc-bfea-25ee-c6c1-ddf74644012b
rubriek                                                       358
notaris                                               JAN VERLEIJ
inventarisNr                                                11890
akteNr                                                      12427
akteType                                                Obligatie
datering                                               1744-09-12
taal                                                   nederlands
beschrijving                                     \nschip Diemen\n
namen           [{'voornaam': 'Pieter', 'tussenvoegsel': None,...
urls            ['KLAB05439000262.JPG', 'KLAB05439000263.JPG',...
text            Ragd werlke Getijnke Gepasseert Den 12 feptemb...
name                                                 Pieter Klijn
data_matches    [{'index': 2148, 'name_original': 'Pieter Clin...
data_entry      {'2148': {'ships': [], 'rank': [], 'location':...
vocop_match                                [Pieter Klijn, 284049]
Name: 509, dtype: object

In [15]:
ranking_df = pd.DataFrame(columns=['name_ratio', 'name_count', 'day_dif', 'location', 'rank', 'numships', 'match', 'notary_id', 'voc_id'])
name_dict = voc.fullNameNormalized.value_counts()
for x in notebook.tqdm(final_df[final_df.data_matches != 0].itertuples(), total=final_df[final_df.data_matches != 0].shape[0]):
    notary_date = datetime.strptime(x.datering, '%Y-%m-%d')
    notid = x.Index
    for match in x.data_matches:
        index = str(x.Index) + '_' + str(match['index'])
        vocid=match['index']
        name_ratio=max(fuzz.ratio(x.name, match['name_original']), fuzz.ratio(x.name, match['name_normalized']))
        name_count = name_dict[match['name_normalized']]
        
        if x.vocop_match != 0 and match['index'] == x.vocop_match[1]:
            matched = 1
        else:
            matched = 0
        
        try:
            out_date = datetime.strptime(match['date_out'], '%Y-%m-%d')
        except:
            out_date = datetime(year=1, month=1, day =1 )
        try:
            return_date = datetime.strptime(match['date_return'], '%Y-%m-%d')
        except:
            return_date = datetime(year=1, month=1, day =1 )
        if (notary_date - out_date).days in range(0, -91, -1):
            day_dif = -(notary_date - out_date).days
        elif (notary_date - return_date).days in range(0, 91):
            day_dif = (notary_date - return_date).days
        else:
            continue
        
        if str(match['index']) in x.data_entry:
            numships = len(x.data_entry[str(match['index'])]['ships'])
            if x.data_entry[str(match['index'])]['rank'] != []:
                rank = 1
            else:
                rank = 0
            if x.data_entry[str(match['index'])]['location'] != []:
                location = 1
            else:
                location = 0
        else:
            numships = 0
            rank = 0
            location = 0
        tempdf = pd.DataFrame(columns=['name_ratio', 'name_count', 'day_dif', 'location', 'rank', 'numships', 'match', 'notary_id', 'voc_id'], data={
            'name_ratio':name_ratio,
            'name_count':name_count,
            'day_dif':day_dif, 
            'location':location,
            'rank':rank,
            'numships':numships,
            'match':matched,
            'notary_id':notid,
            'voc_id':vocid
        }, index=[index])
        ranking_df = ranking_df.append(tempdf)

HBox(children=(IntProgress(value=0, max=5350), HTML(value='')))

In [16]:
ranking_df

,name_ratio,name_count,day_dif,location,rank,numships,match,notary_id,voc_id
14_62148,92,2,18,0,0,0,0,14,62148
16_264891,90,1,60,1,0,0,0,16,264891
16_295399,90,6,26,0,0,0,0,16,295399
48_186881,90,20,16,1,0,0,0,48,186881
52_379356,90,51,8,0,0,1,0,52,379356
...,...,...,...,...,...,...,...,...,...
3112_428673,100,2107,3,0,0,0,0,3112,428673
3112_435880,95,2107,85,0,0,0,0,3112,435880
3112_457632,100,2107,3,0,0,0,0,3112,457632
3112_471148,100,2107,64,1,0,0,0,3112,471148
3112_596424,100,2107,64,0,0,0,0,3112,596424

In [17]:
ranking_df.to_csv('../preranking.csv', index=False)
#final_df.to_csv('../final_df.csv')
#ranking_df[ranking_df.match == 1]